* {
    box-sizing: border-box;
  }
  
  
  .align{
      margin-top: 6rem;
      align-self: center;
      text-align: center;
  }
  .form-container {
    height: auto;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .align h2{
      font-size: 2.2rem;
  }

  .flex{
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin-top: -1rem;
      font-size: small;
      font-weight: lighter;
      color: grey;
  }

  .flex h4{
      padding: 0.5rem;
  }
 
  .flex a{
      color: rgb(12, 150, 196);
      text-decoration: underline;
  }

  .small{
      margin-top: 0.25rem;
      font-size: 0.69rem;
      align-self: flex-start;
      margin-left: -0.5rem;
  }
  .form {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  }
  
  .form--input {
    width: 100%;
    margin-bottom: 20px;
    height: 2.7rem;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
  }
  
  .form--submit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #487F63;
    border: none;   
    cursor: pointer; 
  }
  
  .form--submit:hover{
    background-color: #3fcf85;
  }
  
  .form--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .form--marketing > input {
    margin-right: 10px;
  }
  
  @media screen  and (min-width:  959px){
  .form {
    width: 35rem;
    height: auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  }

  .form--submit {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #487F63;
    border: none;   
    cursor: pointer; 
  }
  
}