* {
  box-sizing: border-box;
}

.career-page{
  width: 90%;
  margin: 0 auto;
  height: 100%;
  margin-top: 3rem;
}

.career-page h1{
  text-align: center;
  margin-bottom: 3rem;
}

.flex-col{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.box-size span{
    align-self: center;
    margin-top: 1rem;
    font-size: 2.5rem;
}

.flex-row{
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  max-width: auto;
  gap: 0.4rem;
}

.box-size{
  width: auto;
  padding: 1.2rem;
  height: auto;
  font-size: 2rem;
  background: black;
  color: #FAFAFA;
  margin-bottom: 1rem;
}

.button{
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background: black;
    color: #FAFAFA;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

@media screen  and (min-width:  400px){
  body {
    margin: 0 auto;
    background: #FAFAFA;
    height: 100%;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    padding: 1rem;
  }

  .side{
      padding: 1rem;
      display: flex;
      flex-direction: column-reverse;
  }

  .img-mobile{
     width: 100%;
     max-width: 100%;
     max-height: 100%;
     
  }
  
  .side-h1{
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    margin: 0;
    text-align: center;
    
  }
  
  .btn-div{
    height: 40%;
    display: flex;
    justify-content: center;
  }
  .side-btn{
    height: 3rem;
    width: 8rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background: black;
    color: #FAFAFA;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 2rem;
    text-align: center;
  }
  
  .side-btn:hover{
    background: white;
    color: black;
    border: 2px solid black;
  }
  
  p{
    text-align: center;
    font-size: 18px;
    height: 20%;
    line-height: 35px;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  
  }
  
  .side2{
    margin-top: 2rem;
    width: auto;
    height: auto;
  }

  .list-svg{
    margin-top: 3rem;
    margin-bottom: -0.2rem;
    margin-left: -3rem;
    
  }
  
  .list-svg li{
    bottom: 0;
    padding: 0 0.1rem;
  }
  .svg{
    transform: scale(0.7);
    
  }

  .padding{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
}


@media screen  and (min-width: 960px){

  body {
    background: #FAFAFA;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
  }


  .side{
    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
  }

  .side1{
    margin: 0;
    padding: 0;
    max-width: 60%;
    min-width: 50%;
    display: flex;
    flex-flow: column;
    margin-left: 2rem;
    
  }

  .side2{
    margin: 0;
    padding: 0;
    margin-top: -3rem;
    width: 25rem;
    background-size: contain;
    margin-right: 3.5rem;
  }

  
  .img-desktop{
    width: 25rem;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
    
  }
  
  .h1-div{
    align-content: flex-start;
    height: 20%;
    word-spacing: 0.7rem;
  }

  .side-h1{
    font-size: 4.0rem;
    font-weight: 700;
    word-spacing: 0.2rem;
    margin: 0;
    text-align: left;
    word-spacing: 0.4rem;
    min-width: 50%;
    min-height: 50%;
    max-width: 35rem ; 
    
  }
 
  .btn-div{
    width: 15rem;
    margin-top: 4rem;
  }

  .side-btn{
    margin-left: -7rem;
    height: 3rem;
    width: 8rem;
    margin-top: 2rem;
    align-content: flex-start;
  }

  .side-btn:hover{
    background: white;
    color: black;
  }

  p{
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 0.7rem;
    max-width: 35rem;
    min-width: 20rem;
    margin-left: -0.1rem;
    margin-right: 16rem;
    margin-top: 4rem;

  }

  .list-svg{
    height: 10%;
    min-width: 10rem;
    max-width: 35rem ; 
    padding: 0.4rem 0;
    margin-left: 0rem;
  
  }

  .career-page{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    margin-top: 3rem;
  }

  .career-page h1{
    word-spacing: 1rem;
  }
 
}