* {
  box-sizing: border-box;
}




@media screen  and (min-width:  400px){
  body {
    margin: 0 auto;
    background: #FAFAFA;
    height: 100%;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    padding: 1rem;
  }
  .side{
      padding: 1rem;
      display: flex;
      flex-direction: column-reverse;
  }

  .img-mobile{
     width: 100%;
     height: auto;
  }
  
  .side-h1{
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    margin: 0;
    text-align: center;
    
  }
  
  .btn-div{
    height: 40%;
    display: flex;
    justify-content: center;
  }
  .side-btn{
    height: 3rem;
    width: 8rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background: black;
    color: #FAFAFA;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 2rem;
    text-align: center;
  }
  
  .side-btn:hover{
    background: white;
    color: black;
    border: 2px solid black;
  }
  
  p{
    text-align: center;
    font-size: 18px;
    height: 20%;
    line-height: 30px;
    word-spacing: 0.4rem;
    width: auto;
    margin: 0 auto;
    margin-top: 1rem;
  
  }
  
  .side2{
    margin-top: 2rem;
    width: auto;
    height: auto;
  }

  .list-svg{
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: -0.2rem;
    text-align: center;
    
  }

  .list-svg li{
    bottom: 0;
    padding: 0 0.1rem;
  }
  .svg{
    transform: scale(0.7);
    
  }
  
}


@media screen  and (min-width: 899px){

  body {
    background: #FAFAFA;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
  }

  h1{
    font-weight: 700;
  }

  .side{
    width: auto;
    display: grid;
    margin: 0 auto;
    padding: 6rem 4rem;
    grid-template-columns: 2fr 1.5fr;
    border: 2px solid red;
  }

  .side1{
    margin: 0;
    width: auto;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 6rem;
  }

  .side2{
    width: auto;
    margin-top: -2rem;
    border: 2px solid red;
  }

  .img-desktop{
    border: 2px solid red;
    width: 25rem;
    height: auto;
    object-fit: contain;
    
  }

  .list-svg{
    height: 10%;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: -0.2rem;
    padding: 0.4rem 0;
    margin-left: 3rem;
    
  }

  .h1-div{
    align-content: flex-start;
    height: 24%;
  }

  .side-h1{
    font-size: 3.4rem;
    word-spacing: 0.2rem;
    margin: 0;
    text-align: left;
    word-spacing: 0.4rem;
    
  }

  .btn-div{
    height: 40%;
    border: 2px solid red;
    width: 15rem;
  }

  .side-btn{
    margin-left: -7rem;
    height: 3rem;
    width: 8rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background: black;
    color: #FAFAFA;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 2rem;
    
  }

  .side-btn:hover{
    background: white;
    color: black;
    border: 2px solid black;
  }

  p{
    text-align: left;
    font-size: 18px;
    height: 20%;
    line-height: 30px;
    word-spacing: 0.4rem;
    width: 30rem;
    margin-left: -0.1rem;

  }
}