* {
    box-sizing: border-box;
  }

a{
    text-decoration: none;
    color: black;
}

.nav-icon{
    font-size: 2rem;
  }

  .nav-icon1{
    padding-right: 2rem;
    font-size: 1.5rem;
    margin-left: 6.8rem;
    margin-top: -2.3rem;
    font-weight: lighter;
  }

  .down-arrow{
      font-size: 0.6rem;
      margin-left: 0.3rem;
  }
  h1{
    margin: 0;
  }

  li{
      list-style: none;
  }
  .nav-div-web{
    display:flex;
    justify-content: space-between;
  }

  .web-title{
      flex-basis: auto;
      margin-left: 1rem;
  }
  .nav-web{
      flex-basis: 90%;
      display: flex;
      justify-content: space-between;
      margin-top: -1.1rem;
      color: #1C1C1C;
      cursor: pointer;
  }

  .web-nav1{
      flex-basis: auto;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
  }

  .web-nav1 li{
      padding: 0.4rem 1.5rem;
  }

  .web-nav2{
      flex-basis: 15%;
      display: flex;
      justify-content: space-between;
      text-align: left;
  }
  
  .web-nav2 li{
      padding: 0.5rem 1.7rem;
  }
  
  .login{

  }

  .register{
      border: 2px solid black;
      margin-left: 2rem;
      border-radius: 12px;
  }

  .register:hover{
    background: #1C1C1C;
    color: white;
 }
 
  .menu{
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    max-width: 50.5%;
    height: 100%;
    padding: 3rem;
    padding-right: 4rem;
    z-index: 2;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
    
  }
  
  .menu:before{
      transform: translateY(-50%) rotate(45deg) scale(1);
  }

  .menu:after{
    transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  .menuMask{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

 .feature-list{
     padding: 0.4rem 1rem;
     font-size: 14px;
     position: absolute;
     margin-top: 0.8rem;
     margin-left: -3.5rem;
     background: #FFFFFF;
     height: auto;
     width: auto;
     border-radius: 1rem;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }

 .f-svg{
     margin-right: 0.5rem;
 }
 .feature-list li{
     padding: 0.2rem;   
 }

 .company-list{
     padding: 0.4rem 1rem;
     font-size: 14px;
     position: absolute;
     margin-top: 0.8rem;
     margin-left: -1.9rem;
     background: #FFFFFF;
     height: auto;
     width: auto;
     border-radius: 1rem;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 
 .company-list li{
     padding: 0.2rem;
 }


.nav-mobile{
    cursor: pointer;
    display: flex;
    height: 80vh;
    flex-flow: column;
    text-align: left;
    margin-left: -3.0rem;
    width: 17rem;
}

.mobile-nav1{
    text-align: left;
    display: flex;
    flex-flow: column;
    
}

.mobile-nav1 li{
    padding: 0.5rem 0.1rem;
    text-align: left;
    
    
}

.mobile-nav2{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.login-m{
    margin-top: 0.2rem;
    height: 2rem;
    width: auto;    
}

.register-m{
    margin-top: 0.2rem;
    height: 2rem;
    width: 8rem;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 0.4rem 0;
}

.register-m:hover{
    background: #1C1C1C;
    color: white;
}

.feature-list-m{
    margin-top: 1rem;
}
.company-list-m{
    margin-top: 1rem;
}

.m-svg{
    margin-right: 1rem;
}


